body {
  margin: 0;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

.container{
	width: center;
	width: 500px;
	text-align: center;
	background-color: #f0f8ff;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: 3px 3px 3px black;
	margin-left: -250px;
}

#gridContainer{
	display: grid;
	grid-template-columns: auto auto;
}

.gridDiv{
	width: 670px;
	height: 665px;
	background-color: #f5f9ff;
	margin: 15px;	
}

.gridDivLeft{
	display: grid;
	grid-template-rows: auto auto auto auto auto;
	gap: 15px;
}

#gridDivright{
	position:relative;
	top: -63px;
	display: grid;
	grid-template-rows: auto auto;
}

.internalGridright{
	width: 640px;
	height: 300px;
	background-color: #f9f9ff;
	margin: 15px;
}

.containerDash{
	width: center;
	width: 1400px;
	height: 800px;
	background-color: #f0f8ff;
	border-radius: 10px 10px 10px 10px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: 3px 3px 3px black;
	margin-left: -700px;
	margin-top: -400px;
}

#headerDash{
	position: relative;
	left: 20px;
	height: 50px;
}

hr {
  border: 1px solid navy;
}

#container1{
	height: 450px;
	margin-top: -225px;
}

#container2{
	height: 500px;
	margin-top: -250px;
}

input{
	width: 480px;
	height: 35px;
}

#e-mail{
	position: relative;
	top: 15px;
}

#password{
	position: relative;
	top: 30px;
}

#repeatPassword{
	position: relative;
	top: 45px;
}

h1{
	color: #000080;
}

h2{
	position: absolute;
	top: 20px;
	left: 150px;
}
button{
	border-radius: 0px;
	width: 100px;
	height: 40px;
	background-color: #000080;
	color: white;
}

#button{
	position: relative;
	top: 55px;
}
#logoutButton{
	position: relative;
	left: 1155px;
	top: -17.5px;
}

.labelPos{
	position: relative;
	bottom: -95px;
}

#barraGridRight{
	overflow-x:hidden;
	height: 280px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

.mainButtonClass{
	height:40px;
	width:40px;
}

#BackButton{
	position:relative;
	top:12px;
	background-color:LightGray;
	background-image:url("../img/Back_Icon.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 38px 38px;
}

#HomeButton{
	position:relative;
	top:12px;
	margin-left:5px;
	margin-right:8px;
	background-color:LightGray;
	background-image:url("../img/Home_Icon.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 38px 38px;
}

#dirPath{
	width:590px;
}

#GUIRicerca{
	position: relative;
	left: 10px;
	top:-10px;
}

#HelperButton{
	background-color: AliceBlue;
	background-image: url("../img/QuestionMark.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 38px 38px;
	position:relative;
	margin-right:10px;
	left:1150px;
	top:-5px;
}

#FileContainer{
	display:grid;
	grid-template-columns: auto auto auto auto auto;
	overflow-y: scroll;
	position:relative;
	top:-10px;
	height:611px;
}

#TitoloForm{
	font-family: Trebuchet MS, Arial, Tahoma, Serif;
}

#RadioGriglia{
	display:grid;
	grid-template-columns: auto auto;
	padding: 10px;
}
.radioClass{
	width:1.15em;
	height: 1.15em;
}

.buttonsFormClass{
	width:120px;
	height:20px;
	border-radius: 16px;
	border: none;
}

.invisibleField {
	visibility: hidden;
	width: 0px;
	height: 0px;
}

#FileQuestionButton{
	background-color: AliceBlue;
	background-image: url("../img/File_QuestionMark.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 38px 38px;
	position:relative;
	margin-right:10px;
	left:1150px;
	top:-5px;
}